


@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.logo{
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

a {
  color: white;
  padding: 1rem;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}

a:hover {
  color: yellowgreen;
}

a:active {
  color: red;
}

.logout {
  color: #1da;
  padding-top: 1rem;
  text-decoration: none;
  font-size: medium;
  background-color: #fff;
  cursor: pointer;
  border: none;
}

.slidein {
  height: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 1rem;
}

.image {
  border-radius: 0.5rem;
}

.right-arrow {
  position: relative;
  top: 50%;
  font-size: 2em;
  color: aquamarine;
  user-select: none;
  margin-top: 5rem;
  cursor: pointer;
}

.left-arrow {
  position: relative;
  top: 50%;
  font-size: 2em;
  color: aquamarine;
  user-select: none;
  margin-top: 5rem;
  cursor: pointer;
}

.left-arrow:hover {
  color: grey;
}
.right-arrow:hover {
  color: grey;
}

ol li {
  list-style-type: none;
}

