@media (orientation: portrait), (max-height: 400px) {
  .App {
    color: Red;
  }
}
@media (orientation: landscape) and (max-width: 200px) {
  .App {
    color: blue;
  }
}
 
 body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:medium;
  font-family: 'Courier New', Courier, monospace;
}  

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



 nav{
 
  background-color: #203040;
  justify-content: center;
  justify-items: center;
  display: flex;
  position: fixed;
  width: 100%;
  height: auto;
  padding-right: 2rem;
  z-index: 1000;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;

 
} 


.GU{
  color: red;
  padding: 1rem;
  text-decoration: none;
  font-size: 25px;
  text-decoration: overline;
  margin-left: 5rem;
 
} 

 a{
  color: white;
  padding: 1rem;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
} 

a:hover{
  color: yellowgreen;
}

a:active{
  color: red;
}

.logout{
  color: #1da;
  padding: 1rem;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  background-color: #fff;
  cursor: pointer;
  border: none;

}


.slidein{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 1rem;
  background-color: white;
  
}

.image{
 
    height: 100%;
  width: 100%;  
  border-radius: .5rem;

}

.right-arrow{
position: relative;
top: 50%;
font-size: 3rem;
color: aquamarine;
user-select: none;
margin-top: 5rem;
cursor: pointer;

}

.left-arrow{
position: relative;
top: 50%;

font-size: 3rem;
color: aquamarine;

user-select: none;
margin-top: 5rem;
cursor: pointer;


}

.left-arrow:hover{
 color: tomato;
}
.right-arrow:hover{
  color: tomato;
 }


 ol li{
   list-style-type: none;
 }
.media{
  text-align: center;
}


