


.home{
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, #fff, #fff, antiquewhite);
    background-color: white;
    color: #000;
    border-radius: 12px;
    justify-items: center;
    
  padding: 4em 0em; /* where the cockroach crumbles*/
}

h1{
    display: flex;
    color: #1da;
   
}
h2{
    color: #000;
    font-family:'Courier New', Courier, monospace;
}

.qb{
     background-color: #fff;
    color: #000;
    border-radius: 4px;
    line-height: 2rem;
    padding: 2rem;
    margin-top: 0;
    height: auto;
    width: 100%;  
}

.bq{
    background-image:linear-gradient(to LEFT, rgba(111,0,0,0), aqua);
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    padding: 2rem;
    height: auto;
    margin-top: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.qq{
    border-radius: 4px;
    padding: 2rem;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
}


.contact{
    background-image:linear-gradient(to LEFT, rgba(225,0,0,0), #abcd);
}


 ul li{
    list-style-type: none;
}

a{
    display: inline-flex;
    padding: .4rem;
    
    color: #1da;
    
}

a:hover{
   color: green;
   cursor: pointer;
}


.foot{
    color: yellow;
}

span{
    display: flex;
    float: right;
    padding-top: 1rem;
}

.icons{
 width: auto;
justify-content: space-between;
justify-items: center;
display: flex;
border:1px solid #1da;
border-radius: 5px;
margin-left: 10px;
padding: 1rem;
}



.footer{
    background-color:antiquewhite;
    height: auto;
    border-radius: 4px;
    border-top: 2px solid tomato;
    color: #203040;
    display: inline-block;
    justify-items: last baseline;
    justify-content: space-between;
   padding: 1.5rem;
    line-height: 2rem;
}



@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

footer {
    background-color: antiquewhite;
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 40px;
    
}

img{
    width: 300px;
    height: 250px;
}
image{
    width: 300px;
    height: 250px;
}

.imacarousel{
    background-image:url('./images/simg.jpg');
    position: relative;
}

.text{
    position: absolute;
    top: 0;
    right: 40%;
    color: red;
    font-size: large;
}