


.home{
    width: 100%;
    height: auto;
    /* padding: 2rem; */
    /* background-color: hsl(210, 33%, 19%); */
    background-image:linear-gradient(to bottom, #203040, tomato);
    color: white;
    border-radius: 12px;
    /* padding-top: 3.5rem; */
    justify-items: center;
    
  padding: 4em 0em; /* where the cockroach crumbles*/
}

h1{
    display: flex;
    color: yellow;
   
}
h2{
    color: white;
    /* margin-left: 3rem; */
    font-family:'Courier New', Courier, monospace;
}

.qb{
    /* background-image:linear-gradient(to LEFT, rgba(225,0,0,0), #abcd); */
    background-image:linear-gradient(to top, #1da5, #203040);
    color: #fff;
    border-radius: 4px;
    line-height: 2rem;
    padding: 2rem;
    margin-top: 0;
    height: auto;
    width: 100%;  
}

.bq{
    background-image:linear-gradient(to right, rgba(225,0,0,0), aqua);
    color: yellow;
    border-radius: 4px;
    padding: 2rem;
    height: auto;
    margin-top: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.qq{
    border-radius: 4px;
    padding: 2rem;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: #203040;
}


.contact{
    background-image:linear-gradient(to LEFT, rgba(225,0,0,0), #abcd);
}

 ul li{
    list-style-type: none;
}

a{
    display: inline-flex;
    padding: 0%;
    
    color: #1da;
    
}

a:hover{
   color: #1da5;
   cursor: pointer;
}

/* footer {
display: inline-flex;
justify-content: center;
justify-items: center;

} */

.foot{
    /* margin-left: 30rem; */
    color: yellow;
}

span{
    /* margin-left: 50%; */
    display: flex;
    float: right;
    padding-top: 1rem;
}

.icons{
 width: auto;
justify-content: space-between;
justify-items: center;
display: flex;
border:1px solid #1da;
border-radius: 5px;
margin-left: 10px;
padding: 1rem;
}



/* 
footer{
 
    height: auto;
    width: 100%;
    border-radius: 4px;
    border-top: 5px solid tomato;

    color: #203040;
    display: flex;
  
    justify-content: space-between;
   padding: 3rem;
    line-height: 1.5rem;

} */

.footer{
    background-image: linear-gradient( #203040, antiquewhite, tomato);
    background-color:antiquewhite;
    height: auto;
    /* width: 100%; */
    border-radius: 4px;
    border-top: 2px solid tomato;
    color: #203040;
    display: flex;
    justify-items: last baseline;
    justify-content: space-between;
   padding: 1.5rem;
    line-height: 2rem;
}



@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-image: linear-gradient( #203040, antiquewhite, tomato);
    
}

/* footer >*{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
} */