

.reg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}
input,
select,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: .5px solid #ccc;
}
