body {
  background-color: honeydew;
  margin: 0;
}

nav {
  background-color: #fff;
  justify-content: center;
  justify-items: center;
  display: flex;
  /* justify-content: space-evenly; */
  position: fixed;
  width: 100%;
  height: auto;
  padding-right: 6rem;
  z-index: 1000;
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
}


.reg {
  width: 100%;
  height: auto;
  background: #d3d3d3;
  color: #1c1c;
  border-radius: 12px;
  font-size: 30px;
  border-radius: 12px;
  justify-items: center;
  padding: 4em 0.5em;
}

.register{
  display: flex;
  max-width: 100%;
}

.reg div {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid white;
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 0.5rem;
}

input {
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 2px;
  width: 100%;
  height: auto;
}
.btn-1 {
  /* width: 100%; */
  display: flex;
  max-width: 100%;
  border: none;
  border-radius: 5px;
  height: auto;
  padding: .5rem;
  position: relative;
  cursor: pointer;
}

select {
  border-radius: 5px;
  padding: 0.7rem;
  margin: 2px;
  width: 100%;
  height: auto;
}
